<<<<<<< HEAD:scss/variable.scss
=======
@mixin bd-bottom {
    border-bottom: 0.0625rem solid #000000;
    padding-bottom: 0.3125rem;
}

@mixin bd-radius {
    border-radius: 0.35rem;
}

>>>>>>> 3620397667a85cc79eca80200de630c163ade5f9:scss/variables.scss
